name: Generate field lists
run-name: '[${{ github.actor }}] Generate field list of ${{ github.event.inputs.entity-types }} entity types from ${{ github.event.inputs.environment }}'

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to run against'
        required: true
        default: 'eureka-snapshot'
        type: environment
      entity-types:
        description: 'Entity types to dump: "public", "all", or a list of space-separated IDs'
        required: true
        default: 'public'
        type: string
      include-hidden-fields:
        description: 'Include hidden fields (API only) in the output'
        required: false
        default: true
        type: boolean
      fqm-branch:
        description: Branch of FQM to use, if dumping all entity types
        required: false
        default: 'master'

jobs:
  dump:
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # v2

      - run: bun install --frozen-lockfile

      - name: Clone mod-fqm-manager
        if: ${{ github.event.inputs.entity-types == 'all' }}
        run: |
          (
            mkdir external &&
            cd external &&
            git clone https://github.com/folio-org/mod-fqm-manager.git &&
            cd mod-fqm-manager &&
            git checkout ${{ github.event.inputs.fqm-branch }}
          )

      - name: Dump entity types
        run: bun scripts/dump-entity-type-information.ts "$(date -I) entity types" ${{ github.event.inputs.entity-types }}
        env:
          FQM_USERNAME: ${{ secrets.USERNAME }}
          FQM_PASSWORD: ${{ secrets.PASSWORD }}
          FQM_HOST: ${{ vars.HOST }}
          FQM_PORT: '443'
          FQM_TENANT: ${{ vars.TENANT }}
          FQM_INCLUDE_HIDDEN_FIELDS: ${{ github.event.inputs.include-hidden-fields }}

      - name: Upload result
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: dumped-entity-types
          path: dump/*
          if-no-files-found: error
