name: Lint

on:
  # linting already happens in build.yaml, however, running it like this adds annotations to the
  #   PR's file tab inline with the code
  - pull_request

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2

      - run: bun install --frozen-lockfile

      - run: bun run lint --output-file eslint_report.json --format json
        continue-on-error: true

      - uses: ataylorme/eslint-annotate-action@v3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          fail-on-warning: true
          report-json: eslint_report.json
